.timeLine__container__mobile {
  height: 100%;

  margin: 0;
  display: grid;
  grid-gap: 6px;
  grid-template-columns: repeat(13, 1fr);
  grid-template-rows: repeat(8, 220px) ;
  grid-template-areas:
  "w w w w w w l r r r r r r "
  ". . . . . . l . . . . . . "
  "t t t t t t l v v v v v v "
  "n n n n n n l a a a a a a "
  "e e e e e e l . . . . . . "
  "j j j j j j l c c c c c c "
  "p p p p p p l . . . . . . "
  ". . . . . . l d d d d d d ";
  text-align: center;
  position: relative;
}

.line__mobile{
  grid-area: l;
  position: relative;
  border: 3px solid rgb(2, 145, 171);
  border-radius: 20px;
  width: 0;
}
.studies__degree__mobile{
  grid-area: d;
}
.studies__civil__servant__mobile{
  grid-area: c;
}
.studies__android__mobile{
  grid-area: a;
}
.studies__vertical__mobile{
  grid-area: v;
}
.studies__react__mobile{
  grid-area: r;
}
.work__programmingC__mobile{
  grid-area: p;
}
.work__java__mobile{
  grid-area: j;
}
.work__english__teacher__mobile{
  grid-area: e;
}
.work__android__mobile{
  grid-area: n;
}
.work__rope__acces__technician__mobile{
  grid-area: t;
}
.work__web__app__mobile{
  grid-area: w;
}
