.year__container__mobile{
  height: 100%;
  width: 5%;
  left: 42%;
  display: grid;
  grid-gap: 6px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(8,220px);
  grid-template-areas:
      " e e "
      " n n "
      " s s "
      " v v "
      " l l "
      " t t "
      " i i "
      " f f ";
  text-align: center;
  position: absolute;
}
.eighteen__mobile{
  grid-area: e;
  top :-15px;
  display: inline-block;
  background-color: white;
  border: 1px solid rgb(2, 145, 171);
  border-radius: 10px;
  font-size: 12px;
  padding-left: 6px;
  padding-right: 6px;
  position: absolute;
}
.seventeen__mobile{
  grid-area: n;
  top :-15px;
  display: inline-block;
  background-color: white;
  border: 1px solid rgb(2, 145, 171);
  border-radius: 10px;
  font-size: 12px;
  padding-left: 6px;
  padding-right: 6px;
  position: absolute;
}
.sixteen__mobile{
  grid-area: s;
  top :-15px;
  display: inline-block;
  background-color: white;
  border: 1px solid rgb(2, 145, 171);
  border-radius: 10px;
  font-size: 12px;
  padding-left: 6px;
  padding-right: 6px;
  position: absolute;
}
.fiveteen__mobile{
  grid-area: v;
  top :-15px;
  display: inline-block;
  background-color: white;
  border: 1px solid rgb(2, 145, 171);
  border-radius: 10px;
  font-size: 12px;
  padding-left: 6px;
  padding-right: 6px;
  position: absolute;
}
.twelve__mobile{
  grid-area: l;
  top :-15px;
  display: inline-block;
  background-color: white;
  border: 1px solid rgb(2, 145, 171);
  border-radius: 10px;
  font-size: 12px;
  padding-left: 6px;
  padding-right: 6px;
  position: absolute;
}
.ten__mobile{
  grid-area: t;
  top :-15px;
  display: inline-block;
  background-color: white;
  border: 1px solid rgb(2, 145, 171);
  border-radius: 10px;
  font-size: 12px;
  padding-left: 6px;
  padding-right: 6px;
  position: absolute;
}
.eight__mobile{
  grid-area: i;
  top :-15px;
  display: inline-block;
  background-color: white;
  border: 1px solid rgb(2, 145, 171);
  border-radius: 10px;
  font-size: 12px;
  padding-left: 6px;
  padding-right: 6px;
  position: absolute;
}
.five__mobile{
  grid-area: f;
  top :-15px;
  display: inline-block;
  background-color: white;
  border: 1px solid rgb(2, 145, 171);
  border-radius: 10px;
  font-size: 12px;
  padding-left: 6px;
  padding-right: 6px;
  position: absolute;
}
.zero__mobile{
  grid-area: f;
  bottom: 0px;
  display: inline-block;
  background-color: white;
  border: 1px solid rgb(2, 145, 171);
  border-radius: 10px;
  font-size: 12px;
  padding-left: 6px;
  padding-right: 6px;
  position: absolute;
}
