.works__list__container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
  grid-auto-flow: dense;
}
.work__container {
  cursor: pointer;
  padding-right: 15px;
  padding-left: 15px;
}
.work__container:hover .work__bio__container {
  opacity: 1;
}
.work__title__container {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
}
.work__pic__container {
  max-height: 100px;
  max-width: 225px;
  margin-left: auto;
  margin-right: auto;
}
.work__pic {
  display: block;
  transition: transform 0.4s;
  max-height: 100px;
  max-width: 220px;
  margin-left: auto;
  margin-right: auto;
}
.work__pic:hover {
  transform: scale(
    1.2
  ); /* (120% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.work__bio__container {
  overflow: hidden;
  margin-right: 10%;
  margin-left: 10%;
  opacity: 0;
}
